<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css"/>
        <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css"/>
        <script type="text/javascript" src="/easyui/jquery.min.js"></script>
        <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    </head>
    <body>
        <input type="button" value="添加" onclick="addItem()"/>
        <input type="button" value="移除" onclick="removeItem()"/>
        <div id="auto-layout" class="easyui-layout" style="height: 300px;width: 60%">
            <div data-options="region:'north',split:true" style="height: 50px">north</div>
            <div data-options="region:'south',split:true" style="height: 50px">south</div>
            <div data-options="region:'west',title:'East',split:true,collapsible:false" style="width: 20%">west</div>
            <div data-options="region:'east',title:'East',iconCls:'icon-ok',split:true" style="width: 100px">east</div>
            <div data-options="region:'center',title:'center',split:true">
                <p>center</p>
                <p>center</p>
                <p>center</p>
                <p>center</p>
            </div>
        </div>
        <script>
            function addItem() {
                $('#auto-layout').layout('panel', 'center').append(' <p>center</p>');
                setHeight();
            }

            function setHeight() {
                var center = $('#auto-layout').layout('panel', 'center');
                var oldHeight = center.panel('panel').outerHeight();
                center.panel('resize', {height: 'auto'});
                var newHeight = center.panel('panel').outerHeight();
                $('#auto-layout').layout('resize', {height: $('#auto-layout').height() + newHeight - oldHeight})
            }
            
            function removeItem() {
                $('#auto-layout').layout('panel', 'center').find('p:last').remove();
                setHeight();
            }
        </script>
    </body>
</html>