<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css"/>
        <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css"/>
        <script type="text/javascript" src="/easyui/jquery.min.js"></script>
        <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    </head>
    <body class="easyui-layout">
        <div data-options="region:'north'" style="height: 50px">north</div>
        <div data-options="region:'south'" style="height: 50px">south</div>
        <div data-options="region:'west',title:'West'" style="width: 20%">
            <div class="easyui-accordion" fit="true">
                <div title="NO1">我是第一个面板</div>
                <div title="NO2" data-options="iconCls:'icon-help'">我是第二个面板</div>
                <div title="NO3" data-options="selected:true">我是第三个面板</div>
            </div>
        </div>
        <div data-options="region:'east',title:'East',iconCls:'icon-ok'" style="width: 100px">east</div>
        <div data-options="region:'center',title:'center'">
            <div class="easyui-layout" fit="true">
                <div data-options="region:'west',title:'East',collapsible:false" style="width: 100px">west</div>
                <div data-options="region:'east',title:'East',iconCls:'icon-ok',collapsible:false" style="width: 100px">east</div>
                <div data-options="region:'center',title:'center',href:'dynamic.html'">内容</div>
            </div>
        </div>
    </body>
</html>