<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyui.dao.TreeDao">
    <resultMap id="treeMap" type="com.easyui.pojo.TreeNode">
        <id property="id" column="id"></id>
        <result property="text" column="text"></result>
        <result property="parentId" column="parent_id"></result>
    </resultMap>
    <select id="list" parameterType="com.easyui.pojo.TreeNode" resultMap="treeMap">
      select id,text,parent_id from t_tree;
    </select>
    <insert id="addTree" parameterType="com.easyui.pojo.TreeNode" useGeneratedKeys="true" keyProperty="id">
        insert into t_tree(text,parent_id)values(#{text} ,#{parentId} );
    </insert>
    <update id="updateTree" parameterType="com.easyui.pojo.TreeNode">
        update t_tree set text = #{text} ,parent_id =#{parentId} where id = #{id}
    </update>
    <delete id="deleteTree" parameterType="java.lang.Integer">
        delete from t_tree where id = #{id} ;
    </delete>

    <update id="updateParentId" parameterType="java.lang.Integer">
        update t_tree set parent_id=null where parent_id=#{parentId}
    </update>
</mapper>